@inject IIllnessService _illnessService


@if (paginatedIllnesses == null)
{
    <ZombieSpinner></ZombieSpinner>
}
else if (paginatedIllnesses?.Illnesses != null)
{
    <div class="card m-3">
        <h4 class="card-header">Select Illness</h4>
        <div class="container p-3">
            @foreach (var illness in paginatedIllnesses.Illnesses)
            {
                <PaloZombies.Client.Components.IllnessSelectionButton IsSelected="@(illness.Id==SelectedIllnessId)" Illness="illness" SetPatientIllness="@SetPatientIllness"></PaloZombies.Client.Components.IllnessSelectionButton>
            }
            <Pagination CurrentPage="paginatedIllnesses.Page.Number" TotalPages="paginatedIllnesses.Page.TotalPages+1" SelectedPages="SelectedPage"></Pagination>
        </div>
    </div>
}
else if (paginatedIllnesses.ErrorText != null)
{
    <div class="container p-3">
        <div class="h3 m-3">@paginatedIllnesses.ErrorText</div>
    </div>
}
