<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark p-0 border-bottom box-shadow mb-3">
    <div class="container justify-content-start">
        <img class="palo-zombie-logo" src="https://i.ibb.co/SX3KB9X/zombie-logo.png" /><a class="navbar-brand" href="">Palo Zombie Saver</a>
    </div>
</nav>

@code {
}